* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;  
  background-color: #a3c0fe;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: relative;
  background-color: #8eb1f0
}

.header-title {
  display: flex;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.header-buttons button {
  margin-right: 10px;
}

.header-left button {
  margin-right: 10px;
}

.header-right img {
  max-width: 80px;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.centered-image {
  width: 30%;
  margin-top: 5px;
  text-align: center;
  position: relative;
}

.flex-container > div {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  max-width: calc(100% / 5);
}

.flex-container img {
  width: 100%;
  height: auto;
  min-width: 100%;
} 

.container-logo {
  width: auto; 
  height: 100%; 
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;   
}

.img-web {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #c6d9ff;
  margin: 0.5rem;
}

.navbar {
  width: 70%;
  height: 100%;     
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #c6d9ff;
    border: none;
    border-radius: 20px;
  }   
  
  .icon-button img {
    width: 10px; 
    margin-right: 5px;
  }